Repository dmhernandez2525/save-a-stray: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecovyml-reference

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 85%
        threshold: 2%
        if_ci_failed: error
    patch:
      default:
        target: 85%
        threshold: 2%

flags:
  backend:
    paths:
      - server/
    carryforward: true
  frontend:
    paths:
      - client/src/
    carryforward: true

parsers:
  javascript:
    enable_partials: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

ignore:
  - "node_modules/**"
  - "**/*.test.{js,jsx,ts,tsx}"
  - "**/*.spec.{js,jsx,ts,tsx}"
  - "**/test/**"
  - "**/tests/**"
  - "coverage/**"
  - "dist/**"
  - "build/**"
  - "client/build/**"
  - "config/**"
  - "docs/**"

Phase 42: Shelter Announcements
  client/src/components/AnnouncementManager.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/AnnouncementManager.test.jsx
  client/src/types/index.ts
  server/models/Announcement.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/announcement_type.ts
  server/schema/types/root_query_type.ts
Due: backend, frontend

Add remaining animal management features (Phases 43-50)
  client/src/components/AdoptionFeeManager.tsx
  client/src/components/IntakeLogManager.tsx
  client/src/components/MicrochipManager.tsx
  client/src/components/OutcomeLogManager.tsx
  client/src/components/SpayNeuterManager.tsx
  client/src/components/VaccinationManager.tsx
  client/src/components/WeightTracker.tsx
  client/src/test/AdoptionFeeManager.test.jsx
  client/src/test/IntakeLogManager.test.jsx
  client/src/test/MicrochipManager.test.jsx
  client/src/test/OutcomeLogManager.test.jsx
  client/src/test/SpayNeuterManager.test.jsx
  client/src/test/VaccinationManager.test.jsx
  client/src/test/WeightTracker.test.jsx
  server/models/AdoptionFee.ts
  server/models/IntakeLog.ts
  server/models/Microchip.ts
  server/models/OutcomeLog.ts
  server/models/SpayNeuter.ts
  server/models/Vaccination.ts
  server/models/WeightRecord.ts
  server/models/index.ts
  server/schema/types/adoption_fee_type.ts
  server/schema/types/intake_log_type.ts
  server/schema/types/microchip_type.ts
  server/schema/types/outcome_log_type.ts
  server/schema/types/spay_neuter_type.ts
  server/schema/types/vaccination_type.ts
  server/schema/types/weight_record_type.ts
Due: backend, frontend

Complete GraphQL integration for Phases 43-50
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/types/index.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
Due: backend, frontend

Fix TypeScript build errors in client
  client/src/components/AdoptionFeeManager.tsx
  client/src/components/IntakeLogManager.tsx
  client/src/components/OutcomeLogManager.tsx
  client/src/components/SpayNeuterManager.tsx
  client/src/components/VaccinationManager.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/types/index.ts
Due: frontend

Fix server model exports and AdoptionFee schema
  server/models/AdoptionFee.ts
  server/models/OutcomeLog.ts
Due: backend

Add mock data fallback when MongoDB is not connected
  server/mockData.ts
  server/schema/types/root_query_type.ts
Due: backend

Add missing model imports to models/index.ts
  server/models/index.ts
Due: backend

Fix passport session error when OAuth not configured
  server/server.ts
Due: backend

Fix landing page to show animals by default
  client/src/components/UserLanding.tsx
Due: frontend

Create proper landing page with hero, animals, and features
  client/src/components/slug.tsx
Due: frontend

Add design system foundation with modern UI components
  client/package-lock.json
  client/package.json
  client/src/components/ThemeProvider.tsx
  client/src/components/ui/avatar.tsx
  client/src/components/ui/badge.tsx
  client/src/components/ui/button.tsx
  client/src/components/ui/card.tsx
  client/src/components/ui/dialog.tsx
  client/src/components/ui/dropdown-menu.tsx
  client/src/components/ui/input.tsx
  client/src/components/ui/progress.tsx
  client/src/components/ui/select.tsx
  client/src/components/ui/separator.tsx
  client/src/components/ui/sheet.tsx
  client/src/components/ui/skeleton.tsx
  client/src/components/ui/switch.tsx
  client/src/components/ui/tabs.tsx
  client/src/components/ui/textarea.tsx
  client/src/components/ui/tooltip.tsx
  client/src/index.css
  client/tailwind.config.js
Due: frontend

Add modern marketing landing page with new components
  client/src/components/marketing/CTASection.tsx
  client/src/components/marketing/FeatureGrid.tsx
  client/src/components/marketing/FeaturedAnimals.tsx
  client/src/components/marketing/Footer.tsx
  client/src/components/marketing/Hero.tsx
  client/src/components/marketing/HowItWorks.tsx
  client/src/components/marketing/StatsCounter.tsx
  client/src/components/slug.tsx
Due: frontend

Redesign navigation with modern UI and mobile menu
  client/src/components/Nav.tsx
Due: frontend

Redesign authentication and user experience pages
  client/src/components/AnimalShow.tsx
  client/src/components/Login.tsx
  client/src/components/Register.tsx
  client/src/components/UserLanding.tsx
  client/src/types/index.ts
Due: frontend

Add modern shelter dashboard with sidebar navigation
  client/src/components/ShelterLanding.tsx
  client/src/components/layouts/ShelterDashboardLayout.tsx
Due: frontend

Remove deprecated CSS files (now using Tailwind)
  client/src/components/css/Animal.css
  client/src/components/css/AnimalFeedItem.css
  client/src/components/css/AnimalShow.css
  client/src/components/css/App.css
  client/src/components/css/Hank.jpeg
  client/src/components/css/SVG/OtherAnimal.svg
  client/src/components/css/SVG/dog.svg
  client/src/components/css/ShelterLanding.css
  client/src/components/css/adorable-animal-black-and-white-207903.jpg
  client/src/components/css/application.css
  client/src/components/css/auth.css
  client/src/components/css/cat.svg
  client/src/components/css/slug.css
  client/src/components/css/splash.css
  client/src/components/css/tos.css
  client/src/components/css/userLanding.css
Due: frontend

Fix lint errors and remove unused imports
  client/src/components/Nav.tsx
  client/src/components/ShelterLanding.tsx
  client/src/components/UserLanding.tsx
  client/src/test/Shelter.test.js
  client/src/test/UserSettings.test.js
Due: frontend

Add mobile responsiveness to remaining components
  client/src/components/AnimalFeedItem.tsx
  client/src/components/Application.tsx
  client/src/components/CompatibilityQuiz.tsx
  client/src/components/FavoriteButton.tsx
  client/src/components/Privacy.tsx
  client/src/components/ShareButtons.tsx
  client/src/components/SuccessStories.tsx
  client/src/components/TermsOfService.tsx
  client/src/components/UserSettings.tsx
Due: frontend

Fix accessibility and error handling in ShareButtons
  client/src/components/ShareButtons.tsx
Due: frontend

Add mobile responsiveness to remaining components (#71)
  client/src/components/AnimalFeedItem.tsx
  client/src/components/Application.tsx
  client/src/components/CompatibilityQuiz.tsx
  client/src/components/FavoriteButton.tsx
  client/src/components/Privacy.tsx
  client/src/components/ShareButtons.tsx
  client/src/components/SuccessStories.tsx
  client/src/components/TermsOfService.tsx
  client/src/components/UserSettings.tsx
Due: frontend

Refactor components for clean architecture and security
  client/src/components/AnimalFeedItem.tsx
  client/src/components/Application.tsx
  client/src/components/CompatibilityQuiz.tsx
  client/src/components/FavoriteButton.tsx
  client/src/components/Privacy.tsx
  client/src/components/ShareButtons.tsx
  client/src/components/SuccessStories.tsx
  client/src/components/TermsOfService.tsx
  client/src/components/UserSettings.tsx
Due: frontend

Refactor components for clean architecture and security (#72)
  client/src/components/AnimalFeedItem.tsx
  client/src/components/Application.tsx
  client/src/components/CompatibilityQuiz.tsx
  client/src/components/FavoriteButton.tsx
  client/src/components/Privacy.tsx
  client/src/components/ShareButtons.tsx
  client/src/components/SuccessStories.tsx
  client/src/components/TermsOfService.tsx
  client/src/components/UserSettings.tsx
Due: frontend

Add Dockerfile with npm install for compatibility
  Dockerfile
Due: none

Add Dockerfile for Docker Compose support
  Dockerfile
Due: none

Add docker-compose.yml for containerized deployment
  Dockerfile
  docker-compose.yml
Due: none

feat: add demo mode for pet adoption experience
  client/src/demo/DemoContext.tsx
  client/src/demo/DemoLanding.tsx
  client/src/demo/demoData.ts
Due: frontend

feat: add demo mode for pet adoption experience (#76)
  client/src/demo/DemoContext.tsx
  client/src/demo/DemoLanding.tsx
  client/src/demo/demoData.ts
Due: frontend

chore: add CodeRabbit and Dependabot configs
  .github/dependabot.yml
Due: none

chore: add CodeRabbit and Dependabot configs (#77)
  .github/dependabot.yml
Due: none

feat: add environment-based demo mode with role selector
  client/.env.example
  client/src/components/App.tsx
  client/src/components/Login.tsx
  client/src/components/Register.tsx
  client/src/config/env.ts
  client/src/demo/DemoAdopterExperience.tsx
  client/src/demo/DemoContext.tsx
  client/src/demo/DemoRoleSelector.tsx
  client/src/demo/DemoShelterExperience.tsx
  client/src/demo/demoUsers.ts
  client/src/demo/index.ts
  client/src/test/DemoMode.test.js
  docs/DEMO_MODE.md
  render.yaml
Due: frontend

fix: remove unsupported headers from render.yaml
  render.yaml
Due: none

fix: remove unsupported headers from render.yaml (#84)
  render.yaml
Due: none

feat: implement proper demo mode flow with actual app routes
  client/src/components/App.tsx
  client/src/components/ShelterPage.tsx
  client/src/components/UserLanding.tsx
  client/src/demo/DemoBanner.tsx
  client/src/demo/DemoLanding.tsx
  client/src/demo/DemoRoleSelector.tsx
  client/src/demo/DemoShelterExperience.tsx
  client/src/demo/index.ts
  client/src/util/protected_route.tsx
Due: frontend

feat: implement proper demo mode flow with actual app routes (#85)
  client/src/components/App.tsx
  client/src/components/ShelterPage.tsx
  client/src/components/UserLanding.tsx
  client/src/demo/DemoBanner.tsx
  client/src/demo/DemoLanding.tsx
  client/src/demo/DemoRoleSelector.tsx
  client/src/demo/DemoShelterExperience.tsx
  client/src/demo/index.ts
  client/src/util/protected_route.tsx
Due: frontend

feat: Apollo Server v4 migration with subscriptions and DataLoaders
  README.md
  client/package.json
  client/postcss.config.js
  client/src/components/App.tsx
  client/src/components/Nav.tsx
  client/src/index.css
  client/tailwind.config.js
  client/vite.config.ts
  docs/ARCHITECTURE.md
  docs/sdd/MODERNIZATION_SDD.md
  docs/sdd/phase-1/AUTH_OVERHAUL_SDD.md
  docs/sdd/phase-1/GRAPHQL_ENHANCEMENT_SDD.md
  docs/sdd/phase-1/INDEX.md
  docs/sdd/phase-1/STYLING_MODERNIZATION_SDD.md
  index.ts
  package.json
  scripts/export-schema.ts
  server/graphql/context.ts
  server/graphql/loaders.ts
  server/graphql/pubsub.ts
  server/schema/mutations.ts
  server/schema/schema.ts
  server/schema/types/animal_type.ts
  server/schema/types/application_type.ts
  server/schema/types/root_query_type.ts
  server/schema/types/root_subscription_type.ts
  server/schema/types/shelter_type.ts
  server/schema/types/user_type.ts
  server/server.ts
  server/services/logger.ts
  tests/api-integration.test.js
  tests/graphql-context.test.ts
  tests/graphql-loaders.test.ts
  tests/graphql-pubsub.test.ts
  tests/graphql-subscription-type.test.ts
  tests/logger.test.ts
  tests/schema-export.test.ts
Due: backend, frontend

fix: resolve CI failures by fixing TypeScript types and reverting breaking frontend upgrades
  client/package.json
  client/postcss.config.js
  client/src/index.css
  client/tailwind.config.js
  client/vite.config.ts
  package-lock.json
  package.json
  server/schema/types/root_subscription_type.ts
  server/server.ts
Due: backend, frontend

fix: address critical security vulnerabilities in GraphQL subscriptions
  server/graphql/context.ts
  server/graphql/pubsub.ts
  server/schema/types/root_subscription_type.ts
Due: backend

fix: normalize token parsing for both HTTP and WebSocket auth
  server/graphql/context.ts
Due: backend

fix: add authorization to animalStatusChanged and fix WebSocket auth case sensitivity
  server/schema/types/root_subscription_type.ts
  server/server.ts
Due: backend
