Repository dmhernandez2525/save-a-stray: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecovyml-reference

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 85%
        threshold: 2%
        if_ci_failed: error
    patch:
      default:
        target: 85%
        threshold: 2%

flags:
  backend:
    paths:
      - server/
    carryforward: true
  frontend:
    paths:
      - client/src/
    carryforward: true

parsers:
  javascript:
    enable_partials: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

ignore:
  - "node_modules/**"
  - "**/*.test.{js,jsx,ts,tsx}"
  - "**/*.spec.{js,jsx,ts,tsx}"
  - "**/test/**"
  - "**/tests/**"
  - "coverage/**"
  - "dist/**"
  - "build/**"
  - "client/build/**"
  - "config/**"
  - "docs/**"

Add social sharing buttons to animal detail pages
  client/src/components/AnimalShow.tsx
  client/src/components/ShareButtons.tsx
  client/src/test/ShareButtons.test.js
Due: frontend

Add shelter staff management with add/remove by email
  client/src/components/ShelterLanding.tsx
  client/src/components/StaffManagement.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/StaffManagement.test.js
  client/src/types/index.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

Add CSV bulk import for shelter animals
  client/src/components/BulkImport.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/test/BulkImport.test.js
  client/src/test/parseCsv.test.js
  client/src/util/parseCsv.ts
  server/schema/mutations.ts
  tests/api-integration.test.js
Due: backend, frontend

Add event calendar for shelter community engagement
  client/src/components/EventCalendar.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/EventCalendar.test.js
  client/src/types/index.ts
  server/models/Event.ts
  server/schema/mutations.ts
  server/schema/types/event_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

Add donation tracking with recording form and summary stats
  client/src/components/DonationTracker.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/DonationTracker.test.js
  client/src/types/index.ts
  server/models/Donation.ts
  server/schema/mutations.ts
  server/schema/types/donation_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

Add admin moderation panel with platform-wide statistics
  client/src/components/AdminPanel.tsx
  client/src/components/App.tsx
  client/src/graphql/queries.ts
  client/src/test/AdminPanel.test.js
  client/src/types/index.ts
  server/schema/types/platform_stats_type.ts
  server/schema/types/root_query_type.ts
  shared/types/index.ts
  tests/api-integration.test.js
Due: backend, frontend

Add animal foster tracking system
  client/src/components/FosterManagement.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/FosterManagement.test.js
  client/src/types/index.ts
  server/models/Foster.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/foster_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

Add saved searches feature for users
  client/src/components/SavedSearches.tsx
  client/src/components/UserLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/SavedSearches.test.js
  client/src/types/index.ts
  server/models/SavedSearch.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
  server/schema/types/saved_search_type.ts
  tests/api-integration.test.js
Due: backend, frontend

Add application form templates for shelters
  client/src/components/ApplicationTemplateManager.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/ApplicationTemplateManager.test.js
  client/src/types/index.ts
  server/models/ApplicationTemplate.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/application_template_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

Add shelter verification badges
  client/src/components/ShelterLanding.tsx
  client/src/components/VerificationBadge.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/VerificationBadge.test.js
  client/src/types/index.ts
  server/models/Shelter.ts
  server/schema/mutations.ts
  server/schema/types/shelter_type.ts
  shared/types/index.ts
  tests/api-integration.test.js
Due: backend, frontend

Add animal behavior notes system for shelters
  client/src/components/BehaviorNoteManager.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/BehaviorNoteManager.test.jsx
  client/src/types/index.ts
  server/models/BehaviorNote.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/behavior_note_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

Add shelter announcements system
  client/src/components/AnnouncementManager.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/AnnouncementManager.test.jsx
  client/src/types/index.ts
  server/models/Announcement.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/announcement_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

Add animal microchip registration and tracking
  client/src/components/MicrochipManager.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/MicrochipManager.test.jsx
  client/src/types/index.ts
  server/models/Microchip.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/microchip_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

Add animal weight tracking system
  client/src/components/ShelterLanding.tsx
  client/src/components/WeightTracker.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/WeightTracker.test.jsx
  client/src/types/index.ts
  server/models/WeightRecord.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
  server/schema/types/weight_record_type.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

Add vaccination records tracking system
  client/src/components/ShelterLanding.tsx
  client/src/components/VaccinationManager.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/VaccinationManager.test.jsx
  client/src/types/index.ts
  server/models/Vaccination.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
  server/schema/types/vaccination_type.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

Add adoption fee management system
  client/src/components/AdoptionFeeManager.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/AdoptionFeeManager.test.jsx
  client/src/types/index.ts
  server/models/AdoptionFee.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/adoption_fee_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

Add spay/neuter tracking system
  client/src/components/ShelterLanding.tsx
  client/src/components/SpayNeuterManager.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/SpayNeuterManager.test.jsx
  client/src/types/index.ts
  server/models/SpayNeuter.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
  server/schema/types/spay_neuter_type.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

feat: add animal intake logging system
  client/src/components/IntakeLogManager.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/IntakeLogManager.test.jsx
  client/src/types/index.ts
  server/models/IntakeLog.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/intake_log_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

feat: add animal outcome logging system
  client/src/components/OutcomeLogManager.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/OutcomeLogManager.test.jsx
  client/src/types/index.ts
  server/models/OutcomeLog.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/outcome_log_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

feat: add animal weight tracking system
  client/src/components/ShelterLanding.tsx
  client/src/components/WeightTracker.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/WeightTracker.test.jsx
  client/src/types/index.ts
  server/models/WeightRecord.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
  server/schema/types/weight_record_type.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

Fix security and validation issues in auth service
  server/services/auth.ts
Due: backend

Add validation for animal images
  server/models/Animal.ts
  server/schema/mutations.ts
Due: backend

Add validation for success stories
  server/models/SuccessStory.ts
  server/schema/mutations.ts
Due: backend

Add validation for weight tracking
  server/schema/mutations.ts
Due: backend

feat: unified shelter registration flow (#22)
  README.md
  client/src/components/Register.tsx
  client/src/components/RegisterShelter.tsx
  client/src/graphql/mutations.ts
  client/src/test/Register.test.js
  client/src/types/index.ts
  docs/ARCHITECTURE.md
  docs/sdd/phase-2/SHELTER_REGISTRATION_SDD.md
  server/schema/mutations.ts
  server/services/auth.ts
  shared/types/index.ts
  tests/api-integration.test.js
  tests/auth.test.js
Due: backend, frontend

feat: adoption success stories with community sharing
  README.md
  client/src/components/App.tsx
  client/src/components/Nav.tsx
  client/src/components/SuccessStories.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/SuccessStories.test.js
  client/src/types/index.ts
  docs/ARCHITECTURE.md
  docs/sdd/phase-2/SUCCESS_STORIES_SDD.md
  server/models/SuccessStory.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
  server/schema/types/success_story_type.ts
  shared/types/index.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

feat: debounced real-time search for text and numeric filters
  client/src/components/UserLanding.tsx
  client/src/test/UserLanding.test.js
  client/src/test/debounce.test.js
  client/src/util/debounce.ts
  docs/sdd/phase-2/DEBOUNCED_SEARCH_SDD.md
Due: frontend

Add phone number format validation
  client/src/components/Application.tsx
Due: frontend

feat: multi-step application form with validation and review
  client/src/components/Application.tsx
  client/src/test/Application.test.js
Due: frontend

feat: shelter analytics dashboard with adoption rates and application stats
  client/src/components/ShelterAnalytics.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/queries.ts
  client/src/test/ShelterAnalytics.test.js
  client/src/types/index.ts
  docs/sdd/phase-2/SHELTER_ANALYTICS_SDD.md
  server/schema/types/root_query_type.ts
  server/schema/types/shelter_analytics_type.ts
  tests/api-integration.test.js
Due: backend, frontend

feat: similar animals recommendations on detail page
  client/src/components/AnimalShow.tsx
  client/src/graphql/queries.ts
  client/src/test/AnimalShow.test.js
  client/src/types/index.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

feat: shelter contact information with editable details
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/Shelter.test.js
  client/src/types/index.ts
  server/models/Shelter.ts
  server/schema/mutations.ts
  server/schema/types/shelter_type.ts
  shared/types/index.ts
  tests/api-integration.test.js
Due: backend, frontend

feat: user settings page with profile editing
  client/src/components/App.tsx
  client/src/components/Nav.tsx
  client/src/components/UserSettings.tsx
  client/src/graphql/mutations.ts
  client/src/test/UserSettings.test.js
  server/schema/mutations.ts
  tests/api-integration.test.js
Due: backend, frontend

Add validation for user profile updates
  server/schema/mutations.ts
Due: backend

feat: CSV data export for shelter animal listings
  client/src/components/ShelterLanding.tsx
  client/src/test/exportCsv.test.js
  client/src/util/exportCsv.ts
Due: frontend

feat: animal medical history with records and veterinarian tracking
  client/src/components/AnimalShow.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/types/index.ts
  server/models/Animal.ts
  server/schema/mutations.ts
  server/schema/types/animal_type.ts
  server/schema/types/medical_record_type.ts
  shared/types/index.ts
  tests/api-integration.test.js
Due: backend, frontend

feat: shelter reviews and ratings system
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/types/index.ts
  server/models/Review.ts
  server/schema/mutations.ts
  server/schema/types/review_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

Add validation for shelter reviews
  server/models/Review.ts
  server/schema/mutations.ts
Due: backend

feat: in-app notification center with read tracking
  client/src/graphql/queries.ts
  client/src/types/index.ts
  server/models/Notification.ts
  server/schema/mutations.ts
  server/schema/types/notification_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend
