Repository dmhernandez2525/save-a-stray: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix(ci): resolve pipeline failures from lock file mismatch and config issues
  .github/workflows/ci.yml
  client/eslint.config.js
  client/package-lock.json
  client/package.json
  client/src/components/FacebookLogin.tsx
  jest.config.js
  package-lock.json
Due: frontend

feat: add multi-field search filters for animal browsing
  client/src/components/SearchFilters.test.tsx
  client/src/components/SearchFilters.tsx
  client/src/components/UserLanding.tsx
  client/src/graphql/queries.ts
  client/src/types/index.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

feat: add animal status tracking (available/pending/adopted)
  client/src/components/AnimalFeedItem.tsx
  client/src/components/SearchFilters.test.tsx
  client/src/components/SearchFilters.tsx
  client/src/components/UserLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/types/index.ts
  server/models/Animal.ts
  server/schema/mutations.ts
  server/schema/types/animal_type.ts
  server/schema/types/root_query_type.ts
  shared/types/index.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

feat: add breed tagging to animal profiles and search
  client/src/components/AnimalFeedItem.tsx
  client/src/components/SearchFilters.test.tsx
  client/src/components/SearchFilters.tsx
  client/src/components/UserLanding.tsx
  client/src/graphql/queries.ts
  client/src/types/index.ts
  server/models/Animal.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
  shared/types/index.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

feat: enhance animal detail page with status, breed, and video
  client/src/components/AnimalShow.tsx
Due: frontend

feat: add animal favoriting for logged-in users
  client/src/components/AnimalFeedItem.tsx
  client/src/components/FavoriteButton.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  server/models/User.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
  server/schema/types/user_type.ts
  shared/types/index.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

feat: shelter dashboard with animal management and status controls
  client/src/components/ShelterLanding.tsx
  client/src/graphql/queries.ts
  client/src/types/index.ts
  server/schema/types/shelter_type.ts
Due: backend, frontend

feat: add application status tracking with updateApplicationStatus mutation
  client/src/graphql/mutations.ts
  client/src/types/index.ts
  server/models/Application.ts
  server/schema/mutations.ts
  server/schema/types/application_type.ts
  shared/types/index.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

feat: shelter application management with status controls and filtering
  client/src/components/ShelterApplications.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/queries.ts
  client/src/types/index.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

feat: user profile page with favorites and application history
  client/src/components/App.tsx
  client/src/components/Nav.tsx
  client/src/components/ProfilePage.tsx
  client/src/components/UserProfile.tsx
  client/src/graphql/queries.ts
  client/src/types/index.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

feat: add pagination to animal feed with load more button
  client/src/components/UserLanding.tsx
  client/src/graphql/queries.ts
  client/src/types/index.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

chore: remove credential files from tracking and update gitignore
  .gitignore
Due: none

feat: unified shelter registration flow
  client/src/components/Register.tsx
  client/src/components/RegisterShelter.tsx
  client/src/graphql/mutations.ts
  client/src/test/Register.test.js
  client/src/types/index.ts
  server/schema/mutations.ts
  server/services/auth.ts
  shared/types/index.ts
  tests/api-integration.test.js
  tests/auth.test.js
Due: backend, frontend

docs: update architecture, README, and add SDD for shelter registration
  README.md
  docs/ARCHITECTURE.md
  docs/sdd/phase-2/SHELTER_REGISTRATION_SDD.md
Due: none

feat: multiple images per animal with gallery view
  client/src/components/Animal.tsx
  client/src/components/AnimalShow.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/AnimalShow.test.js
  client/src/types/index.ts
  server/models/Animal.ts
  server/schema/mutations.ts
  server/schema/types/animal_type.ts
  shared/types/index.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

feat: adoption success stories with community sharing
  README.md
  client/src/components/App.tsx
  client/src/components/Nav.tsx
  client/src/components/SuccessStories.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/SuccessStories.test.js
  client/src/types/index.ts
  docs/ARCHITECTURE.md
  docs/sdd/phase-2/SUCCESS_STORIES_SDD.md
  server/models/SuccessStory.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
  server/schema/types/success_story_type.ts
  shared/types/index.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

feat: debounced real-time search for text and numeric filters
  client/src/components/UserLanding.tsx
  client/src/test/UserLanding.test.js
  client/src/test/debounce.test.js
  client/src/util/debounce.ts
  docs/sdd/phase-2/DEBOUNCED_SEARCH_SDD.md
Due: frontend

feat: shelter analytics dashboard with adoption rates and application stats
  client/src/components/ShelterAnalytics.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/queries.ts
  client/src/test/ShelterAnalytics.test.js
  client/src/types/index.ts
  docs/sdd/phase-2/SHELTER_ANALYTICS_SDD.md
  server/schema/types/root_query_type.ts
  server/schema/types/shelter_analytics_type.ts
  tests/api-integration.test.js
Due: backend, frontend

feat: multi-step application form with validation and review
  client/src/components/Application.tsx
  client/src/test/Application.test.js
Due: frontend

feat: similar animals recommendations on detail page
  client/src/components/AnimalShow.tsx
  client/src/graphql/queries.ts
  client/src/test/AnimalShow.test.js
  client/src/types/index.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

feat: shelter contact information with editable details
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/Shelter.test.js
  client/src/types/index.ts
  server/models/Shelter.ts
  server/schema/mutations.ts
  server/schema/types/shelter_type.ts
  shared/types/index.ts
  tests/api-integration.test.js
Due: backend, frontend

feat: user settings page with profile editing
  client/src/components/App.tsx
  client/src/components/Nav.tsx
  client/src/components/UserSettings.tsx
  client/src/graphql/mutations.ts
  client/src/test/UserSettings.test.js
  server/schema/mutations.ts
  tests/api-integration.test.js
Due: backend, frontend

feat: CSV data export for shelter animal listings
  client/src/components/ShelterLanding.tsx
  client/src/test/exportCsv.test.js
  client/src/util/exportCsv.ts
Due: frontend

feat: animal medical history with records and veterinarian tracking
  client/src/components/AnimalShow.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/types/index.ts
  server/models/Animal.ts
  server/schema/mutations.ts
  server/schema/types/animal_type.ts
  server/schema/types/medical_record_type.ts
  shared/types/index.ts
  tests/api-integration.test.js
Due: backend, frontend

feat: shelter reviews and ratings system
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/types/index.ts
  server/models/Review.ts
  server/schema/mutations.ts
  server/schema/types/review_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

feat: in-app notification center with read tracking
  client/src/graphql/queries.ts
  client/src/types/index.ts
  server/models/Notification.ts
  server/schema/mutations.ts
  server/schema/types/notification_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

Add pet compatibility quiz with lifestyle-based recommendations
  client/src/components/App.tsx
  client/src/components/CompatibilityQuiz.tsx
  client/src/test/CompatibilityQuiz.test.js
Due: frontend

Path conditions:
  backend: any of: server/, but not: node_modules/**, **/*.test.{js,jsx,ts,tsx}, **/*.spec.{js,jsx,ts,tsx}, **/test/**, **/tests/**, coverage/**, dist/**, build/**, client/build/**, config/**, docs/**
  frontend: any of: client/src/, but not: node_modules/**, **/*.test.{js,jsx,ts,tsx}, **/*.spec.{js,jsx,ts,tsx}, **/test/**, **/tests/**, coverage/**, dist/**, build/**, client/build/**, config/**, docs/**
