Repository dmhernandez2525/save-a-stray: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

F10.1: Add public REST API v1 with API key auth and rate limiting
  client/src/lib/api-sdk.ts
  client/src/test/api-key-auth.test.js
  client/src/test/api-sdk.test.js
  server/middleware/api-key-auth.ts
  server/routes/api-v1.ts
  server/server.ts
Due: backend, frontend

Add third-party integration system with webhooks and platform sync
  client/src/test/integrations.test.js
  server/schema/types/root_query_type.ts
  server/services/integrations.ts
Due: backend

Add enhanced import/export system with multi-format support
  client/src/lib/import-export-manager.ts
  client/src/test/import-export-manager.test.js
  client/src/test/import-export-queries.test.js
  server/schema/types/root_query_type.ts
  server/services/import-export.ts
Due: backend, frontend

Add embeddable widget system with SDK, analytics, and customization
  client/src/lib/widget-sdk.ts
  client/src/test/widget-queries.test.js
  client/src/test/widget-sdk.test.js
  server/schema/types/root_query_type.ts
  server/services/widgets.ts
Due: backend, frontend

Add test factories, model validation, and service layer unit tests
  client/src/test/design-tokens.test.js
  client/src/test/model-validation.test.js
  client/src/test/resolver-contracts.test.js
  client/src/test/service-layer.test.js
  client/src/test/test-factories.js
  client/src/test/test-factories.test.js
Due: none

Add integration test contracts for E2E flows and GraphQL operations
  client/src/test/e2e-contracts.test.js
  client/src/test/graphql-integration.test.js
Due: none

Add performance testing utilities with budgets and benchmarks
  client/src/lib/perf-testing.ts
  client/src/test/perf-testing.test.js
Due: frontend

Add security audit utilities with sanitization, OWASP checks, and logging
  client/src/lib/security-audit.ts
  client/src/test/security-audit.test.js
Due: frontend

Add demo walkthrough system with guided tours and analytics
  client/src/lib/demo-walkthrough.ts
  client/src/test/demo-walkthrough.test.js
Due: frontend

Add help center with FAQ search, API docs, guides, and changelog
  client/src/lib/help-center.ts
  client/src/test/help-center.test.js
Due: frontend

Add SEO manager with meta tags, structured data, sitemap, and analytics
  client/src/lib/seo-manager.ts
  client/src/test/seo-manager.test.js
Due: frontend

Add scaling infrastructure with circuit breakers, caching, and monitoring
  client/src/lib/scaling-infra.ts
  client/src/test/scaling-infra.test.js
Due: frontend

Add AI pet matching engine with lifestyle questionnaire and scoring
  client/src/lib/ai-matching.ts
  client/src/test/ai-matching.test.js
Due: frontend

Add image recognition with breed detection, quality scoring, and tagging
  client/src/lib/image-recognition.ts
  client/src/test/image-recognition.test.js
Due: frontend

Add predictive analytics with adoption scoring and demand forecasting
  client/src/lib/predictive-analytics.ts
  client/src/test/predictive-analytics.test.js
Due: frontend

feat: add smart notification system with fatigue prevention and re-engagement
  client/src/lib/smart-notifications.ts
  client/src/test/smart-notifications.test.js
Due: frontend

feat: add volunteer management system with scheduling and recognition
  client/src/lib/volunteer-management.ts
  client/src/test/volunteer-management.test.js
Due: frontend

feat: add donation platform with recurring payments and campaigns
  client/src/lib/donation-platform.ts
  client/src/test/donation-platform.test.js
Due: frontend

feat: add educational content system with quizzes and recommendations
  client/src/lib/educational-content.ts
  client/src/test/educational-content.test.js
Due: frontend

feat: add lost and found integration with matching and flyer generation
  client/src/lib/lost-found.ts
  client/src/test/lost-found.test.js
Due: frontend

feat: add partner network with transfers, transport, and shared resources
  client/src/lib/partner-network.ts
  client/src/test/partner-network.test.js
Due: frontend

feat: add government integration with compliance, inspections, and audit trail
  client/src/lib/government-integration.ts
  client/src/test/government-integration.test.js
Due: frontend

fix: address Round 1 code review findings across 7 modules
  client/src/lib/donation-platform.ts
  client/src/lib/government-integration.ts
  client/src/lib/partner-network.ts
  client/src/lib/predictive-analytics.ts
  client/src/lib/security-audit.ts
  client/src/lib/volunteer-management.ts
  client/src/lib/widget-sdk.ts
  client/src/test/donation-platform.test.js
  client/src/test/security-audit.test.js
  client/src/test/volunteer-management.test.js
  client/src/test/widget-sdk.test.js
Due: frontend

fix: address Round 2 code quality findings across 6 modules
  client/src/lib/api-sdk.ts
  client/src/lib/donation-platform.ts
  client/src/lib/government-integration.ts
  client/src/lib/lost-found.ts
  client/src/lib/predictive-analytics.ts
  client/src/lib/smart-notifications.ts
  client/src/test/api-sdk.test.js
  client/src/test/donation-platform.test.js
  client/src/test/government-integration.test.js
  client/src/test/lost-found.test.js
Due: frontend

fix: address Round 3 polish review findings across 12 modules
  client/src/lib/ab-testing.ts
  client/src/lib/donation-platform.ts
  client/src/lib/government-integration.ts
  client/src/lib/image-recognition.ts
  client/src/lib/import-export-manager.ts
  client/src/lib/lost-found.ts
  client/src/lib/perf-testing.ts
  client/src/lib/report-builder.ts
  client/src/lib/scaling-infra.ts
  client/src/lib/security-audit.ts
  client/src/lib/seo-manager.ts
  client/src/lib/smart-notifications.ts
  client/src/test/government-integration.test.js
  client/src/test/import-export-manager.test.js
Due: frontend

Fix PaginationParams type incompatibility with Record parameter
  client/src/lib/api-sdk.ts
Due: frontend

Fix process.env reference in client-side performance monitor
  client/src/lib/performance-monitor.ts
Due: frontend

chore(security): add npm hardening defaults
  .npmrc
  CLAUDE.md
Due: none

chore: wip snapshot 2026-05-25 (tree cleanup)
  .dockerignore
  CLAUDE.md
Due: none

Path conditions:
  backend: any of: server/, but not: node_modules/**, **/*.test.{js,jsx,ts,tsx}, **/*.spec.{js,jsx,ts,tsx}, **/test/**, **/tests/**, coverage/**, dist/**, build/**, client/build/**, config/**, docs/**
  frontend: any of: client/src/, but not: node_modules/**, **/*.test.{js,jsx,ts,tsx}, **/*.spec.{js,jsx,ts,tsx}, **/test/**, **/tests/**, coverage/**, dist/**, build/**, client/build/**, config/**, docs/**
