Repository dmhernandez2525/save-a-stray: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecovyml-reference

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 85%
        threshold: 2%
        if_ci_failed: error
    patch:
      default:
        target: 85%
        threshold: 2%

flags:
  backend:
    paths:
      - server/
    carryforward: true
  frontend:
    paths:
      - client/src/
    carryforward: true

parsers:
  javascript:
    enable_partials: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

ignore:
  - "node_modules/**"
  - "**/*.test.{js,jsx,ts,tsx}"
  - "**/*.spec.{js,jsx,ts,tsx}"
  - "**/test/**"
  - "**/tests/**"
  - "coverage/**"
  - "dist/**"
  - "build/**"
  - "client/build/**"
  - "config/**"
  - "docs/**"

fix: add comprehensive authorization checks to GraphQL mutations
  server/graphql/authorization.ts
  server/graphql/context.ts
  server/schema/mutations.ts
  server/schema/types/user_type.ts
  server/server.ts
Due: backend

feat: add mobile bottom navigation with FAB and bottom sheet
  client/src/components/AdminPanel.tsx
  client/src/components/Animal.tsx
  client/src/components/AnimalShow.tsx
  client/src/components/App.tsx
  client/src/components/BottomNav.tsx
  client/src/components/CompatibilityQuiz.tsx
  client/src/components/Privacy.tsx
  client/src/components/ProfilePage.tsx
  client/src/components/Splash.tsx
  client/src/components/SuccessStories.tsx
  client/src/components/TermsOfService.tsx
  client/src/components/UserLanding.tsx
  client/src/components/UserProfile.tsx
  client/src/components/UserSettings.tsx
  client/src/components/layouts/ShelterDashboardLayout.tsx
  client/src/components/slug.tsx
  client/src/demo/DemoAdopterExperience.tsx
  client/src/demo/DemoLanding.tsx
  client/src/demo/DemoShelterExperience.tsx
  client/src/index.css
  client/tailwind.config.js
Due: frontend

fix: improve mobile responsiveness across multiple components
  client/src/components/AdminPanel.tsx
  client/src/components/Login.tsx
  client/src/components/Register.tsx
  client/src/components/ShelterAnalytics.tsx
  client/src/components/ShelterLanding.tsx
  client/src/components/SuccessStories.tsx
  client/src/demo/DemoAdopterExperience.tsx
  client/src/demo/DemoLanding.tsx
Due: frontend

fix: improve mobile responsiveness across multiple components (#93)
  client/src/components/AdminPanel.tsx
  client/src/components/Login.tsx
  client/src/components/Register.tsx
  client/src/components/ShelterAnalytics.tsx
  client/src/components/ShelterLanding.tsx
  client/src/components/SuccessStories.tsx
  client/src/demo/DemoAdopterExperience.tsx
  client/src/demo/DemoLanding.tsx
Due: frontend

feat(F1.1): complete frontend migration baseline
  client/eslint.config.js
  client/eslint.shared.config.js
  client/package-lock.json
  client/package.json
  client/postcss.config.js
  client/public/logo192.png
  client/public/logo512.png
  client/public/manifest.json
  client/src/components/FacebookLogin.tsx
  client/src/config/env.ts
  client/src/index.css
  client/src/main.tsx
  client/src/test/vite-aliases.test.ts
  client/src/vite-env.d.ts
  client/tailwind.config.js
  client/tsconfig.json
  client/vite.config.ts
  docs/sdd/MODERNIZATION_SDD.md
  docs/sdd/phase-1/FRONTEND_MIGRATION_SDD.md
  docs/sdd/phase-1/INDEX.md
Due: frontend

feat(F1.2): modernize styling foundation and design system
  client/components.json
  client/src/App.scss
  client/src/components/BottomNav.tsx
  client/src/components/Splash.tsx
  client/src/components/ThemeProvider.tsx
  client/src/components/layouts/ShelterDashboardLayout.tsx
  client/src/layouts/AuthLayout.tsx
  client/src/layouts/DashboardLayout.tsx
  client/src/layouts/PageLayout.tsx
  client/src/layouts/index.ts
  client/src/lib/design-tokens.ts
  client/src/lib/responsive.ts
  client/src/test/Animal.test.js
  client/src/test/AnimalShow.test.js
  client/src/test/Nav.test.js
  client/src/test/Register.test.js
  client/src/test/Shelter.test.js
  client/src/test/Splash.test.js
  client/src/test/SuccessStories.test.js
  client/src/test/ThemeProvider.test.tsx
  client/src/test/UserLanding.test.js
  client/src/test/__snapshots__/layouts.visual.test.tsx.snap
  client/src/test/layouts.visual.test.tsx
  client/src/test/responsive.test.ts
  client/src/test/setup.js
  docs/DESIGN_SYSTEM.md
  docs/INDEX.md
  docs/sdd/phase-1/INDEX.md
  docs/sdd/phase-1/STYLING_MODERNIZATION_SDD.md
Due: frontend

feat(F1.3): harden graphql with validation, pagination, and typegen
  client/src/types/generated/graphql/connections.ts
  client/src/types/generated/graphql/index.ts
  docs/INDEX.md
  docs/schema/README.md
  docs/sdd/phase-1/GRAPHQL_ENHANCEMENT_SDD.md
  docs/sdd/phase-1/INDEX.md
  package.json
  scripts/export-schema.ts
  scripts/generate-graphql-types.ts
  server/graphql/errors.ts
  server/graphql/pubsub.ts
  server/graphql/validation-rules.ts
  server/schema/mutations.ts
  server/schema/scalars.ts
  server/schema/types/connection_types.ts
  server/schema/types/pagination_queries.ts
  server/schema/types/root_query_type.ts
  server/server.ts
  server/services/cursor.ts
  shared/types/graphql/generated/connections.ts
  shared/types/graphql/generated/index.ts
  tests/api-integration.test.js
  tests/auth.test.js
  tests/graphql-context.test.ts
  tests/graphql-errors.test.ts
  tests/graphql-loaders.test.ts
  tests/graphql-pubsub.test.ts
  tests/graphql-scalars.test.ts
  tests/graphql-subscription-type.test.ts
  tests/graphql-validation-rules.test.ts
  tests/logger.test.ts
  tests/pagination-queries.test.ts
  tests/schema-export.test.ts
Due: backend, frontend

feat(F1.4): overhaul authentication with session-based refresh tokens and 2FA
  server/graphql/context.ts
  server/middleware/auth-rate-limit.ts
  server/models/AuthSession.ts
  server/models/User.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/auth_session_type.ts
  server/schema/types/two_factor_setup_type.ts
  server/schema/types/user_type.ts
  server/server.ts
  server/services/auth-account.ts
  server/services/auth-config.ts
  server/services/auth-helpers.ts
  server/services/auth-legacy.ts
  server/services/auth-primary.ts
  server/services/auth-session.ts
  server/services/auth-tokens.ts
  server/services/email.ts
  server/services/oauth.ts
  server/services/totp.ts
  shared/types/index.ts
Due: backend

feat(F2.1): extend pet profiles with comprehensive animal fields
  server/models/Animal.ts
  server/schema/mutations.ts
  server/schema/types/animal_timeline_type.ts
  server/schema/types/animal_type.ts
  server/schema/types/root_query_type.ts
  shared/types/index.ts
Due: backend

feat(F2.2): add pet search and discovery enhancements
  server/models/SavedSearch.ts
  server/models/Shelter.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
  server/schema/types/saved_search_type.ts
  server/schema/types/shelter_type.ts
  shared/types/index.ts
Due: backend

feat(F2.3): add pet status management with transition rules and history
  server/models/StatusHistory.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/animal_type.ts
  server/schema/types/root_query_type.ts
  server/schema/types/status_history_type.ts
  server/services/status-transitions.ts
Due: backend

feat(F2.4): add pet media management with Cloudinary integration
  package-lock.json
  package.json
  server/models/MediaAsset.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/media_asset_type.ts
  server/schema/types/root_query_type.ts
  server/schema/types/upload_signature_type.ts
  server/services/cloudinary.ts
Due: backend

feat(F3.1): add shelter dashboard backend infrastructure
  server/models/DashboardLayout.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/dashboard_layout_type.ts
  server/schema/types/root_query_type.ts
Due: backend

feat(F3.2): add staff management with invitations, roles, and notes
  server/models/InternalNote.ts
  server/models/ShelterStaffRole.ts
  server/models/StaffInvitation.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/internal_note_type.ts
  server/schema/types/root_query_type.ts
  server/schema/types/shelter_staff_role_type.ts
  server/schema/types/staff_invitation_type.ts
Due: backend

feat(F3.3): add inventory management with kennel tracking and capacity alerts
  server/models/KennelAssignment.ts
  server/models/Shelter.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/kennel_assignment_type.ts
  server/schema/types/root_query_type.ts
  server/schema/types/shelter_type.ts
  shared/types/index.ts
Due: backend

feat(F3.4): add shelter settings with branding, schedule, and policies
  server/models/ShelterSettings.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
  server/schema/types/shelter_settings_type.ts
Due: backend

feat(F4.1): enhance application system with drafts, templates, and validation
  server/models/Application.ts
  server/models/ApplicationTemplate.ts
  server/schema/mutations.ts
  server/schema/types/application_template_type.ts
  server/schema/types/application_type.ts
  server/schema/types/root_query_type.ts
  shared/types/index.ts
  tests/models.test.js
Due: backend

feat(F4.2): add application review system with scoring and analytics
  server/models/ApplicationReview.ts
  server/models/RejectionTemplate.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/application_review_type.ts
  server/schema/types/root_query_type.ts
Due: backend

feat(F4.3): add matching algorithm with compatibility scoring
  server/models/AdopterProfile.ts
  server/models/MatchRecord.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/adopter_profile_type.ts
  server/schema/types/root_query_type.ts
  server/services/matching.ts
Due: backend

feat(F4.4): add adoption completion with records, follow-ups, and surveys
  server/models/AdoptionRecord.ts
  server/models/PostAdoptionSurvey.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/adoption_record_type.ts
  server/schema/types/root_query_type.ts
Due: backend

F5.1: Foster registration with profile, housing verification, and references
  server/models/FosterProfile.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/foster_profile_type.ts
  server/schema/types/root_query_type.ts
Due: backend

F5.2: Foster matching with availability calendar and placement workflow
  server/models/FosterPlacement.ts
  server/models/FosterProfile.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/foster_placement_type.ts
  server/schema/types/foster_profile_type.ts
  server/schema/types/root_query_type.ts
  server/services/foster-matching.ts
Due: backend

F5.3: Foster management with daily updates, expenses, and milestones
  server/models/FosterUpdate.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/foster_update_type.ts
  server/schema/types/root_query_type.ts
Due: backend

F5.4: Foster analytics with performance scoring and retention analysis
  server/schema/types/root_query_type.ts
Due: backend

F6.1: Messaging system with threads, templates, and real-time delivery
  server/graphql/pubsub.ts
  server/models/Message.ts
  server/models/MessageTemplate.ts
  server/models/MessageThread.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/message_template_type.ts
  server/schema/types/message_thread_type.ts
  server/schema/types/message_type.ts
  server/schema/types/root_query_type.ts
Due: backend

F6.2: Email notification system with preferences, logging, and analytics
  server/models/EmailLog.ts
  server/models/EmailPreference.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/email_log_type.ts
  server/schema/types/email_preference_type.ts
  server/schema/types/root_query_type.ts
Due: backend

F6.3: Push notifications with subscriptions, preferences, and scheduling
  server/models/NotificationPreference.ts
  server/models/PushSubscription.ts
  server/models/ScheduledNotification.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
Due: backend

F6.4: Social sharing with referral tracking, QR codes, and embed badges
  server/models/ShareEvent.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
Due: backend

F7.1: Public pet listings with SEO, location-based discovery, and structured data
  server/models/Animal.ts
  server/models/Shelter.ts
  server/schema/mutations.ts
  server/schema/types/animal_type.ts
  server/schema/types/root_query_type.ts
  server/schema/types/shelter_type.ts
  shared/types/index.ts
Due: backend

F7.2: User accounts with profile management, privacy settings, and adopter dashboard
  server/models/User.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
  server/schema/types/user_type.ts
  shared/types/index.ts
Due: backend

F7.3: Success stories with moderation, gallery, reactions, and analytics
  server/models/SuccessStory.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
  server/schema/types/success_story_type.ts
  shared/types/index.ts
Due: backend

F7.4: Events and calendar with registration, reminders, and iCal export
  server/models/Event.ts
  server/schema/mutations.ts
  server/schema/types/event_type.ts
  server/schema/types/root_query_type.ts
Due: backend

F8.1: Add Progressive Web App support
  client/index.html
  client/public/offline.html
  client/public/site.webmanifest
  client/public/sw.js
  client/src/components/App.tsx
  client/src/components/InstallPrompt.tsx
  client/src/components/OfflineBanner.tsx
  client/src/components/UpdatePrompt.tsx
  client/src/lib/pwa-analytics.ts
  client/src/lib/pwa.ts
  client/src/main.tsx
  client/src/test/InstallPrompt.test.jsx
  client/src/test/OfflineBanner.test.jsx
  client/src/test/pwa-analytics.test.js
  client/src/test/pwa.test.js
  client/src/test/sw.test.js
Due: frontend

F8.2: Add mobile optimization utilities and components
  client/src/components/ResponsiveImage.tsx
  client/src/components/SwipeableGallery.tsx
  client/src/lib/adaptive-loading.ts
  client/src/lib/performance-monitor.ts
  client/src/lib/responsive.ts
  client/src/lib/touch-gestures.ts
  client/src/test/adaptive-loading.test.js
  client/src/test/mobile-responsive.test.js
  client/src/test/performance-monitor.test.js
  client/src/test/touch-gestures.test.js
Due: frontend

F8.3: Add offline features with sync engine and local storage
  client/src/components/FreshnessIndicator.tsx
  client/src/components/SyncStatusIndicator.tsx
  client/src/lib/offline-storage.ts
  client/src/lib/offline-sync.ts
  client/src/test/offline-storage.test.js
  client/src/test/offline-sync.test.js
Due: frontend

F8.4: Add native app preparation with shared types and deep linking
  client/public/.well-known/apple-app-site-association
  client/public/.well-known/assetlinks.json
  client/src/test/native-config.test.js
  client/src/test/native-platform.test.js
  shared/types/native-config.ts
  shared/types/platform.ts
Due: none

F9.1: Add shelter analytics with adoption metrics and KPI alerts
  server/schema/types/root_query_type.ts
Due: backend

F9.2: Add platform analytics with conversion funnels and A/B testing
  client/src/lib/ab-testing.ts
  client/src/lib/analytics-tracker.ts
  client/src/test/ab-testing.test.js
  client/src/test/analytics-tracker.test.js
  client/src/test/platform-analytics-queries.test.js
  server/schema/types/root_query_type.ts
Due: backend, frontend

F9.3: Add reporting system with SAC/Asilomar exports and report builder
  client/src/lib/report-builder.ts
  client/src/test/report-builder.test.js
  client/src/test/reporting-queries.test.js
  server/schema/types/root_query_type.ts
Due: backend, frontend

F9.4: Add insights engine with benchmarks, seasonal patterns, and what-if
  client/src/lib/insights-engine.ts
  client/src/test/insights-engine.test.js
  client/src/test/insights-queries.test.js
  server/schema/types/root_query_type.ts
Due: backend, frontend
