Repository dmhernandez2525/save-a-stray: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov Configuration
# https://docs.codecov.io/docs/codecovyml-reference

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 85%
        threshold: 2%
        if_ci_failed: error
    patch:
      default:
        target: 85%
        threshold: 2%

flags:
  backend:
    paths:
      - server/
    carryforward: true
  frontend:
    paths:
      - client/src/
    carryforward: true

parsers:
  javascript:
    enable_partials: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

ignore:
  - "node_modules/**"
  - "**/*.test.{js,jsx,ts,tsx}"
  - "**/*.spec.{js,jsx,ts,tsx}"
  - "**/test/**"
  - "**/tests/**"
  - "coverage/**"
  - "dist/**"
  - "build/**"
  - "client/build/**"
  - "config/**"
  - "docs/**"

Add pet compatibility quiz with lifestyle-based recommendations
  client/src/components/App.tsx
  client/src/components/CompatibilityQuiz.tsx
  client/src/test/CompatibilityQuiz.test.js
Due: frontend

Add social sharing buttons to animal detail pages
  client/src/components/AnimalShow.tsx
  client/src/components/ShareButtons.tsx
  client/src/test/ShareButtons.test.js
Due: frontend

Add social sharing buttons to animal detail pages (#36)
  client/src/components/AnimalShow.tsx
  client/src/components/ShareButtons.tsx
  client/src/test/ShareButtons.test.js
Due: frontend

Add shelter staff management with add/remove by email
  client/src/components/ShelterLanding.tsx
  client/src/components/StaffManagement.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/StaffManagement.test.js
  client/src/types/index.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

Add shelter staff management with add/remove by email (#37)
  client/src/components/ShelterLanding.tsx
  client/src/components/StaffManagement.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/StaffManagement.test.js
  client/src/types/index.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

Add CSV bulk import for shelter animals
  client/src/components/BulkImport.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/test/BulkImport.test.js
  client/src/test/parseCsv.test.js
  client/src/util/parseCsv.ts
  server/schema/mutations.ts
  tests/api-integration.test.js
Due: backend, frontend

Add validation for bulk animal import
  server/schema/mutations.ts
Due: backend

Phase 27: Bulk Animal Import (CSV) (#38)
  client/src/components/BulkImport.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/test/BulkImport.test.js
  client/src/test/parseCsv.test.js
  client/src/util/parseCsv.ts
  server/schema/mutations.ts
  tests/api-integration.test.js
Due: backend, frontend

Add CSV bulk import for shelter animals
  server/schema/mutations.ts
Due: backend

Add event calendar for shelter community engagement
  client/src/components/EventCalendar.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/EventCalendar.test.js
  client/src/types/index.ts
  server/models/Event.ts
  server/schema/mutations.ts
  server/schema/types/event_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

Phase 28: Event Calendar for Shelters (#39)
  client/src/components/EventCalendar.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/EventCalendar.test.js
  client/src/types/index.ts
  server/models/Event.ts
  server/schema/mutations.ts
  server/schema/types/event_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

Add validation for donation tracking
  server/models/Donation.ts
  server/schema/mutations.ts
Due: backend

Add donation tracking with recording form and summary stats
  client/src/components/DonationTracker.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/DonationTracker.test.js
  client/src/types/index.ts
  server/models/Donation.ts
  server/schema/mutations.ts
  server/schema/types/donation_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

Phase 29: Donation Tracking (#40)
  client/src/components/DonationTracker.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/DonationTracker.test.js
  client/src/types/index.ts
  server/models/Donation.ts
  server/schema/mutations.ts
  server/schema/types/donation_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

Add admin moderation panel with platform-wide statistics
  client/src/components/AdminPanel.tsx
  client/src/components/App.tsx
  client/src/graphql/queries.ts
  client/src/test/AdminPanel.test.js
  client/src/types/index.ts
  server/schema/types/platform_stats_type.ts
  server/schema/types/root_query_type.ts
  shared/types/index.ts
  tests/api-integration.test.js
Due: backend, frontend

Add admin moderation panel with platform-wide statistics (#41)
  client/src/components/AdminPanel.tsx
  client/src/components/App.tsx
  client/src/graphql/queries.ts
  client/src/test/AdminPanel.test.js
  client/src/types/index.ts
  server/schema/types/platform_stats_type.ts
  server/schema/types/root_query_type.ts
  shared/types/index.ts
  tests/api-integration.test.js
Due: backend, frontend

Add animal foster tracking system
  client/src/components/FosterManagement.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/FosterManagement.test.js
  client/src/types/index.ts
  server/models/Foster.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/foster_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

Add animal foster tracking system (#64)
  client/src/components/FosterManagement.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/FosterManagement.test.js
  client/src/types/index.ts
  server/models/Foster.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/foster_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

Add saved searches feature for users
  client/src/components/SavedSearches.tsx
  client/src/components/UserLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/SavedSearches.test.js
  client/src/types/index.ts
  server/models/SavedSearch.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
  server/schema/types/saved_search_type.ts
  tests/api-integration.test.js
Due: backend, frontend

Add saved searches feature for users (#65)
  client/src/components/SavedSearches.tsx
  client/src/components/UserLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/SavedSearches.test.js
  client/src/types/index.ts
  server/models/SavedSearch.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
  server/schema/types/saved_search_type.ts
  tests/api-integration.test.js
Due: backend, frontend

Add application form templates for shelters
  client/src/components/ApplicationTemplateManager.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/ApplicationTemplateManager.test.js
  client/src/types/index.ts
  server/models/ApplicationTemplate.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/application_template_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

Add application form templates for shelters (#66)
  client/src/components/ApplicationTemplateManager.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/ApplicationTemplateManager.test.js
  client/src/types/index.ts
  server/models/ApplicationTemplate.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/application_template_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
Due: backend, frontend

Add shelter verification badges
  client/src/components/ShelterLanding.tsx
  client/src/components/VerificationBadge.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/VerificationBadge.test.js
  client/src/types/index.ts
  server/models/Shelter.ts
  server/schema/mutations.ts
  server/schema/types/shelter_type.ts
  shared/types/index.ts
  tests/api-integration.test.js
Due: backend, frontend

Add shelter verification badges (#67)
  client/src/components/ShelterLanding.tsx
  client/src/components/VerificationBadge.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/VerificationBadge.test.js
  client/src/types/index.ts
  server/models/Shelter.ts
  server/schema/mutations.ts
  server/schema/types/shelter_type.ts
  shared/types/index.ts
  tests/api-integration.test.js
Due: backend, frontend

Add activity feed/timeline for shelter dashboard
  client/src/components/ActivityFeed.tsx
  client/src/components/SavedSearches.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/ActivityFeed.test.js
  client/src/types/index.ts
  server/models/ActivityLog.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/activity_log_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

Add activity feed/timeline for shelter dashboard (#46)
  client/src/components/ActivityFeed.tsx
  client/src/components/SavedSearches.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/ActivityFeed.test.js
  client/src/types/index.ts
  server/models/ActivityLog.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/activity_log_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

Add validation for Stripe terminal operations
  server/schema/mutations.ts
Due: backend

Add Stripe Terminal Reader integration for in-person payments
  client/src/components/ShelterLanding.tsx
  client/src/components/TerminalReaderManager.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/TerminalReaderManager.test.js
  client/src/types/index.ts
  package-lock.json
  package.json
  server/models/TerminalReader.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/payment_intent_type.ts
  server/schema/types/root_query_type.ts
  server/schema/types/terminal_reader_type.ts
  server/services/stripeTerminal.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

Phase 36: Stripe Terminal Reader Integration (#47)
  client/src/components/ShelterLanding.tsx
  client/src/components/TerminalReaderManager.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/TerminalReaderManager.test.js
  client/src/types/index.ts
  package-lock.json
  package.json
  server/models/TerminalReader.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/payment_intent_type.ts
  server/schema/types/root_query_type.ts
  server/schema/types/terminal_reader_type.ts
  server/services/stripeTerminal.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

Add messaging system between adopters and shelters
  client/src/components/MessagingPanel.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/MessagingPanel.test.js
  client/src/types/index.ts
  server/models/Message.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/message_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

Add validation for messaging system
  server/models/Message.ts
  server/schema/mutations.ts
Due: backend

Phase 37: Messaging System (#48)
  client/src/components/MessagingPanel.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/MessagingPanel.test.js
  client/src/types/index.ts
  server/models/Message.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/message_type.ts
  server/schema/types/root_query_type.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

Add validation for volunteer management
  server/schema/mutations.ts
Due: backend

Add volunteer management system
  client/src/components/ShelterLanding.tsx
  client/src/components/VolunteerManager.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/VolunteerManager.test.jsx
  client/src/types/index.ts
  server/models/Volunteer.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
  server/schema/types/volunteer_type.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

Phase 38: Volunteer Management System (#49)
  client/src/components/ShelterLanding.tsx
  client/src/components/VolunteerManager.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/VolunteerManager.test.jsx
  client/src/types/index.ts
  server/models/Volunteer.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
  server/schema/types/volunteer_type.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

Add waitlist management system for animal adoptions
  client/src/components/ShelterLanding.tsx
  client/src/components/WaitlistManager.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/WaitlistManager.test.jsx
  client/src/types/index.ts
  server/models/Waitlist.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
  server/schema/types/waitlist_type.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

Add validation for waitlist management
  server/schema/mutations.ts
Due: backend

Phase 39: Waitlist Management System (#50)
  client/src/components/ShelterLanding.tsx
  client/src/components/WaitlistManager.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/WaitlistManager.test.jsx
  client/src/types/index.ts
  server/models/Waitlist.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
  server/schema/types/waitlist_type.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

Revert "Phase 39: Waitlist Management System (#50)"
  client/src/components/ShelterLanding.tsx
  client/src/components/WaitlistManager.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/WaitlistManager.test.jsx
  client/src/types/index.ts
  server/models/Waitlist.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/root_query_type.ts
  server/schema/types/waitlist_type.ts
  tests/api-integration.test.js
  tests/models.test.js
Due: backend, frontend

Phase 41: Animal Behavior Notes
  client/src/components/BehaviorNoteManager.tsx
  client/src/components/ShelterLanding.tsx
  client/src/graphql/mutations.ts
  client/src/graphql/queries.ts
  client/src/test/BehaviorNoteManager.test.jsx
  client/src/types/index.ts
  server/models/BehaviorNote.ts
  server/models/index.ts
  server/schema/mutations.ts
  server/schema/types/behavior_note_type.ts
  server/schema/types/root_query_type.ts
Due: backend, frontend
